In [43]:
import pandas as pd
import re, string
from nltk.tokenize import word_tokenize
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

1. Merubah ke bentuk dataframe

In [44]:
df = pd.read_csv('buruh_tweets_202112.csv')
df.head()

                                               tweet               userid
0  Tak Sesuai Kesepakatan, Buruh Tangerang Raya T...             58880688
1  @Resty442_ Kenapa demo buruh yg berjubel2 dapa...  1330047738541694978
2  Demo Buruh Rentan Ditunggangi Provokator\nhttp...  1213739491384426497
3  @geloraco buruh, PP juga kemarin demo gak ada ...   930191748688592896
4  Berikanlah kepada buruh upahnya sebelum kering...             62988958

2. Prepocessing (Case folding, Menghilangkan stopwords, Menghilangkan bahasa slang)

In [45]:
clean_tweet = df['tweet']

In [46]:
# mengubah teks menjadi lowercase

def case_folding(text):
    text = text.lower()
    text = re.sub(r"\d+", "", text)
    text = text.translate(str.maketrans("","", string.punctuation))
    text = text.rstrip().lstrip()
    text = text.replace('   ',' ')

    return text

In [47]:
def tokenizing(text:str):
    '''
    input : string
    output : list of tokens

    memisahkan kalimat menjadi token token kata dan dimasukkan ke dalam sebuah list
    '''
    text_tokens = word_tokenize(text)
    return(text_tokens)

In [48]:
def remove_stopwords(text:str):
    stopwords_engine = StopWordRemoverFactory()
    stopwords = stopwords_engine.get_stop_words()
    
    result = []
    for word in text:
        if word not in stopwords:
            result.append(word)
    return result

In [49]:
def stemming(text:string):
    '''
    input: string
    output: string

    mengubah bentuk dasar pada kalimat
    '''
    
    engine = StemmerFactory()
    stemmer = engine.create_stemmer()
    text = stemmer.stem(text)

    return text

In [50]:
kalimat = 'Perkembangan kuliner di indonesia cukup membanggakan dalam 10 tahun terakhir'

kalimat = case_folding(kalimat)
kalimat = tokenizing(kalimat)
kalimat = remove_stopwords(kalimat)
kalimat = stemming(' '.join(kalimat))

print(kalimat)

kembang kuliner indonesia cukup bangga tahun akhir

In [51]:
# kalimat = 'Perkembangan kuliner di indonesia cukup membanggakan dalam 10 tahun terakhir'

# text = case_folding(text)
# text = tokenizing(text)
# text = remove_stopwords(text)
# text = stemming(' '.join(text))

# print(text)

In [52]:
output=[]

for text in clean_tweet:
    text = case_folding(text)
    text = tokenizing(text)
    text = remove_stopwords(text)
    text = stemming(' '.join(text))
    output.append(text)

In [ ]:
print(output)

In [58]:
new_clean_tweet = pd.DataFrame(output)
new_clean_tweet.head()

                                                   0
0  tak sesuai sepakat buruh tangerang raya tolak ...
1  resty demo buruh yg jubel izinmakin terang ben...
2  demo buruh rentan tunggang provokator httpstco...
3  geloraco buruh pp kemarin demo gak tuh pasal y...
4        beri buruh upah kering keringat hr abu yula

In [60]:
new_clean_tweet.describe()

                                                        0
count                                                1000
unique                                                989
top     kongres aliansi serikat buruh indonesia salah ...
freq                                                    8